<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}SaucisseLand{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
        window.onload = function() {
            document.querySelector('.menu-toggle').addEventListener('click', () => {
                document.querySelector('.nav-links').classList.toggle('active');
            });
        }
    </script>
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo SaucisseLand" class="logo-img">
                <span>SaucisseLand</span>
            </div>
            <button class="menu-toggle">&#9776;</button>
            <ul class="nav-links">
                <li><a href="/">Accueil</a></li>
                <li><a href="/article">Saucisses</a></li>
                <!-- <li><a href="/legal">Mentions légales</a></li> -->
                <li><a href="/contact">Contact</a></li>
                <li><a href="https://discord.gg/zxhz4pppNA">Rejoindre le Discord</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Fait avec ❤️ par SaucisseLand</p>
        <p><a href="/legal">Mentions légales</a> | <a href="/contact">Contact</a></p>
    </footer>

</body>
</html>
